<!DOCTYPE html>
<html lang="en" data-page="exams">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление экзаменами</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="./../js/header_component.js"></script>
    <header-component></header-component>
    <div class="container">
        <div class="edit-page-header">
            <h2>Экзамены</h2>
            <button class="add-button" onclick="showForm()">
                <img src="../assets/svg/add_circle.svg" alt="Добавить" class="icon"> Добавить экзамен
            </button>
        </div>

        <ul id="exam-list">
            <!-- Список экзаменов будет динамически загружен сюда -->
        </ul>
        <br>
        <div class="form-container" id="exam-form-container" style="display: none;">
            <form id="exam-form">
                <label for="exam-name">Название экзамена:</label>
                <input type="text" id="exam-name" name="exam-name" required>
                <input type="hidden" id="exam-id" name="exam-id">
                <button type="submit">
                    <img src="../assets/svg/save.svg" alt="Сохранить" class="icon">Сохранить</button>
                <button type="button" onclick="cancelForm()">Отмена</button>
            </form>
        </div>
    </div>

    <script src="js/main.js"></script>
    <script src="js/exam.js"></script>
</body>

</html>