<!DOCTYPE html>
<html lang="en" data-page="tasks">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление заданиями</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="../js/main.js"></script>
    <script src="../js/task.js"></script>
</head>

<body>
    <script src="../js/header_component.js"></script>
    <header-component></header-component>
    <div class="container">
        <div class="edit-page-header">
            <h2>Задания</h2>
            <button class="add-button" onclick="showTaskForm()">
                <img src="../assets/svg/add_circle.svg" alt="Добавить" class="icon"> Добавить задание
            </button>
        </div>
        <ul id="task-list">
            <!-- Список заданий будет динамически загружен сюда -->
        </ul>
        <br>
        <div class="form-container" id="task-form-container" style="display: none;">
            <!-- Форма для создания/редактирования задачи -->
            <form id="task-form" enctype="multipart/form-data">
                <label for="task-content">Содержимое задания (XML):</label>
                <textarea id="task-content" name="task-content" required></textarea>

                <label for="topic-ids">Выберите темы:</label>
                <select id="topic-ids" name="topic-ids" multiple required>
                    <!-- Опции будут динамически загружены сюда -->
                </select>

                <label for="task-file">Загрузить файл (опционально):</label>
                <input type="file" id="task-file" name="file">

                <input type="hidden" id="task-id" name="task-id">
                <button type="submit">Сохранить</button>
                <button type="button" onclick="cancelTaskForm()">Отмена</button>
            </form>
        </div>
    </div>
</body>

</html>