<!DOCTYPE html>
<html lang="en" data-page="tasks">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление заданиями</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="../js/header_component.js"></script>
    <header-component></header-component>
    <div class="container">
        <div class="edit-page-header">
            <h2>Задания</h2>
            <button class="add-button" onclick="showTaskForm()">
                <img src="../assets/svg/add_circle.svg" alt="Добавить" class="icon"> Добавить задание
            </button>
        </div>
        <ul id="task-list">
            <!-- Список заданий будет динамически загружен сюда -->
        </ul>
        <br>

        <!-- Форма для множественной загрузки XML файлов -->
        <div class="form-container" id="multi-import-form-container">
            <h3>Множественная загрузка XML</h3>
            <form id="multi-import-form" enctype="multipart/form-data">
                <label for="multi-files">Выберите XML файлы:</label>
                <input type="file" id="multi-files" name="files" multiple accept=".xml">

                <label for="import-topic">Выберите тему для импорта:</label>
                <select id="import-topic" name="import-topic" required>
                    <!-- Опции будут динамически загружены сюда -->
                </select>

                <button type="submit">Импортировать файлы</button>
            </form>
        </div>
    </div>

    <script src="../js/main.js"></script>
    <script src="../js/task.js"></script>
</body>

</html>