<!DOCTYPE html>
<html lang="en" data-page="topics">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление темами</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <script src="./../js/header_component.js"></script>
    <header-component></header-component>
    <div class="container">
        <div class="edit-page-header">
            <h2>Темы</h2>
            <button class="add-button" onclick="showTopicForm()">
                <img src="../assets/svg/add_circle.svg" alt="Добавить" class="icon"> Добавить тему
            </button>
        </div>

        <ul id="topic-list">
            <!-- Список тем будет динамически загружен сюда -->
        </ul>
        <br>
        <div class="form-container" id="topic-form-container" style="display: none;">
            <form id="topic-form">
                <label for="topic-name">Название темы:</label>
                <input type="text" id="topic-name" name="topic-name" required>

                <label for="exam-ids">Выберите экзамены:</label>
                <select id="exam-ids" name="exam-ids" multiple required>
                    <!-- Опции будут динамически загружены сюда -->
                </select>

                <input type="hidden" id="topic-id" name="topic-id">
                <button type="submit"><img src="../assets/svg/save.svg" alt="Сохранить" class="icon">Сохранить</button>
                <button type="button" onclick="cancelTopicForm()">Отмена</button>
            </form>
        </div>
    </div>
    <script src="../js/main.js"></script>
    <script src="../js/topic.js"></script>
</body>

</html>